body {
    background-color: #121212;
    /*border: 1px solid #2f3c6a;*/
    border: 1px solid #7f7f7f;
    border-bottom: none;
    width: 1200px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

a {
    color: #A0BFF5;
}

a:visited {
    color: #9E9EFF;
}

h1 {
    padding: 50px;
    width: 1100px;
    text-align: center;
    margin: auto;
    background-color: #2f3c6a;
}

.logo {
    width: 425px;
}

.logowrapper {
    background-color: #1e284b;
    width: 1200px;
    height: 200px;
    margin: auto;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    background-clip: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    padding: 5px;
    background-color: #1e284b;
}

.headerbutton {
    font-size: 10pt;
    padding: 0px;
    background-color: #2f3c6a;
    height: 40px;
    width: 200px;
    transition-duration: 0.1s;
    cursor: pointer;
    color: white;
    border: 1px solid gray;
}

.headerbutton:hover {
    background-color: #3a4e9e;
}

/* Dropdown Content (Hidden by Default) */
.memberbuttondiv {
    position: relative;
    display: inline-block;
}
.memberbuttondropdown {
    display: none;
    position: absolute;
    background-color: #4b5c9b;
    width: 197.5px;
    z-index: 1;
    border: 1px solid gray;
    border-top: none;
}
/* Links inside the dropdown */
.memberbuttondropdown a {
    color: white;
    text-align: left;
    text-decoration: none;
    display: block;
    padding: 5px;
    font-size: 10pt;
    font-style: oblique;
}
/* Change color of dropdown links on hover */
.memberbuttondropdown a:hover {
    background-color: #3a4e9e;
}
/* Show the dropdown menu on hover */
.memberbuttondiv:hover .memberbuttondropdown {
    display: block;
}

.subheader {
    font-size: 20pt;
    padding: 10px;
    padding-top: 50px;
    width: 1000px;
    text-align: justify;
    margin: auto;
}

.group_photo {
    width: 1000px;
}

.imgcaption {
    margin: auto;
    width: 800px;
    text-align: center;
    font-size: 10pt;
    font-style: italic;
    padding-bottom: 20px;
}

.subsubheader {
    padding-top: 30px;
    text-align: left;
    font-size: 16pt;
    width: 1000px;
    margin: auto;
}

p {
    padding-top: 10px;
    width: 1000px;
    text-align: justify;
    margin: auto;
    font-size: 12pt;
}

.membertable {
    width: 1000px;
    margin: auto;
    border-spacing: 40px;
}

.mtphotocell {
    width: 150px;
    height: 150px;
}

.mtphoto {
    width: 150px;
    height: 150px;
}

.mtbioheader {
    font-size: 16pt;
}

.mtbiocell {
    box-sizing: border-box;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    height: 150px;
    border-bottom: 1px solid #34363d;
    background-color: #0b1b52;
    border-radius: 10px;
}

.mtbio {
    color: gainsboro
}

.footer {
    width: 1200px;
    min-height: 100%;
    padding-top: 50px;
    background-color: #1e284b;
    font-size: 8pt;
    margin: auto;
    background-clip: content-box;
    text-align: center;
    margin-top: auto;
}
.logo_footer {
    height: 60px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}